<div class="mx-auto p-8 bg-gray-100 min-h-screen">
  <h2 class="text-3xl font-bold mb-6 text-center">Cuentas</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div *ngFor="let cuenta of cuentas" class="text-center">
      <div
        class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8"
      >
        <h5 class="mb-4 text-xl font-medium text-gray-500">
          Cuenta #{{ cuenta.id }}
        </h5>
        <div
          class="flex items-baseline justify-center"
          [ngClass]="{
            'text-green-500': cuenta.saldo === 0,
            'text-red-500': cuenta.saldo > 0
          }"
        >
          <span class="text-3xl font-semibold">$</span>
          <span class="text-5xl font-extrabold tracking-tight">
            {{ cuenta.saldo }}
          </span>
        </div>

        <button
          type="button"
          class="text-white mt-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center disabled:opacity-50"
          [ngClass]="{ 'cursor-not-allowed': cuenta.saldo === 0 }"
          [disabled]="cuenta.saldo === 0"
          (click)="realizarPago(id, cuenta.id, cuenta.saldo)"
        >
          Pagar
        </button>
      </div>
    </div>
  </div>
</div>
