<div class="mx-auto p-8 bg-gray-100 min-h-screen">
  <h2 class="text-4xl font-bold mb-8 text-center text-gray-800">
    User Dashboard
  </h2>

  <div class="overflow-x-auto">
    <table
      class="min-w-full bg-white border border-gray-300 rounded-md shadow-md"
    >
      <thead>
        <tr class="bg-gray-200">
          <th class="py-3 border-b">ID</th>
          <th class="py-3 border-b">Name</th>
          <th class="py-3 border-b">Email</th>
          <th class="py-3 border-b">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let user of users"
          class="hover:bg-gray-100 transition duration-300"
        >
          <td class="py-3 border-b text-center">{{ user.id }}</td>
          <td class="py-3 border-b text-center">{{ user.name }}</td>
          <td class="py-3 border-b text-center">{{ user.email }}</td>
          <td class="py-3 border-b text-center">
            <button
              class="text-red-400 cursor-pointer font-medium px-2 border border-red-400 rounded-md hover:bg-red-400 hover:text-white transition duration-300"
            >
              x
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
